<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <div *ngIf="product">
          <img [src]="product.imageUrl" class="img-responsive">

          <h3>{{ product.name }}</h3>
          <div class="price">{{ product.unitPrice | currency:'EUR' }}</div>
          <app-add-to-cart [product]="product"></app-add-to-cart>

          <h4>Product Description</h4>
          <p>{{ product.description }}</p>

          <a routerLink="products">Back to Product List</a>
        </div>
      </div>
    </div>
  </div>
</div>
