:host {
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: flex-end;
}

select {
  margin-left: 2rem;
  margin-bottom: 1rem; /* Bootstrap enforces this margin on the pagination component so we need to do it here to line it up */

  border-width: 0;
}
